body {
	background-color: lightgrey;
	background-color: #FFF2E4;
}

img {
	margin: 2px;
	background-image: url(https://avatars0.githubusercontent.com/u/46715383?s=460&v=4);
	width: 250px;
	height: 250px;
	position: left;
	background-position: top;
}

.profil {
	margin: 5px;
	background-color: #FAFAFA;
}

.Formation {
	text-align: center;
	background-color: #FAFAFA;
}

.Becode {
	text-align: center;
	background-color: #FAFAFA;
}

.Experience {
	text-align: center;
	background-color: #FAFAFA;
}

.compétence {
	text-align: center;
	background-color: #FAFAFA;
}

.Langues {
	text-align: center;
	background-color: #FAFAFA;
}

.Centres {
	text-align: center;
	background-color: #FAFAFA;
}